@model Blog.Web.ViewModels.Common.HeaderViewModel;

<header class="masthead" style="background-image: url('@Model.ImageUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.Content</span>
                </div>
            </div>
        </div>
    </div>
</header>