@using System.Globalization
@using Blog.Web.ViewModels.Administration.Categories.InputModels;
@using Blog.Web.ViewModels.Common
@model AddCategoryInputModel

@{
    this.ViewData["Title"] = "Create Category";
}


@await Component.InvokeAsync("Header", new HeaderViewModel
{
    Title = "Create Category",
    Content = "",
    ImageUrl = "https://res.cloudinary.com/dmvrh3bvc/image/upload/v1591631420/bg_bluegradient_lpytvz.jpg",
})
<vc:header></vc:header>

<div class="container mt-4">
    <form enctype="multipart/form-data" asp-area="Administration" asp-controller="Categories" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" >
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
