@using Blog.Web.ViewModels.Administration.Categories.InputModels;
@model AddCategoryInputModel

@{
    this.ViewData["Title"] = "Create Category";
}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create category</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-4">
    <form enctype="multipart/form-data" asp-area="Administration" asp-controller="Categories" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input class="form-control" asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
    </form>
</div>