@using System.Globalization
@using Blog.Web.ViewModels.Posts.ViewModels;
@model IEnumerable<IndexPostViewModel>;
@{
    this.ViewData["Title"] = "About Me";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://miro.medium.com/max/960/1*PaZT9QBa-Dt9K9FE9-CkbA.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Stoyan Shopoff Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
    </div>     
</div>
<hr>