@using System.Globalization
@using Blog.Web.ViewModels.Common
@model Blog.Web.ViewModels.Administration.CoverLetter.ViewModels.CoverLetterViewModel;
@{
    this.ViewData["Title"] = "About Me";
    var isAdmin = this.User.IsInRole("Administrator");
}

<!-- Page Header -->
@await Component.InvokeAsync("Header", new HeaderViewModel
{
    Title = "About Me",
    Content = "My Experience",
    ImageUrl = "https://res.cloudinary.com/dmvrh3bvc/image/upload/v1591631155/artificial-intelligence-future-of-programming_zs5p2r.jpg",
})
<vc:header></vc:header>

<div class="row">
    <div class="container bg-white">
        @Html.Raw(Model.SanitizedContent())
    </div>
</div>

<hr>