@using Blog.Web.ViewModels.Common
@model Blog.Web.ViewModels.Administration.CoverLetter.InputModels.CreateCoverLetterInputModel

@{
    this.ViewData["Title"] = "Add CV";

    var categories = this.ViewData["AllCategories"] as IEnumerable<SelectListItem>;
}

@await Component.InvokeAsync("Header", new HeaderViewModel
{
    Title = "Add Job",
    Content = "",
    ImageUrl = "https://res.cloudinary.com/dmvrh3bvc/image/upload/v1591631420/bg_bluegradient_lpytvz.jpg",
})
<vc:header></vc:header>


<div class="container mt-4">
    <form asp-area="Administration" asp-controller="CoverLetter" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="@Model.Content"></label>
            <textarea asp-for="@Model.Content" class="form-control" rows="30"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#Content",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
}
